In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Online-Banking").getOrCreate()

In [ ]:
df = spark.read.csv("/loan.csv",header=True, inferSchema=True)
df.show()

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|       BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|           HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|          PROFESSOR|       MARRIED|          6| 51000|      19999|            4|          SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|            DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|            TEACHER|       MARRIED|          5| 45767|      12787|            3|         GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|             POLICE|        SINGLE|          4| 43521|      11999|            3|        AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|    IB14024| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|        AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|    IB14025| 39|FEMALE|            TEACHER|       MARRIED|          6| 46619|      18675|            4|           HOUSING| 12,09,867 |      8|      29,999|               6|                 8|
|    IB14027| 51|  MALE|     SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       RESTAURANTS|     60,676|      8|      13,000|               2|                 5|
|    IB14029| 24|FEMALE|            TEACHER|        SINGLE|          3| 45008|      17454|            4|        AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|    IB14031| 37|FEMALE|  SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|        AUTOMOBILE|     60,999|      2|           0|               5|                 3|
|    IB14032| 24|  MALE|       DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|        AUTOMOBILE|     35,232|      5|      33,333|               1|                 2|
|    IB14034| 32|  MALE|   PRODUCT ENGINEER|       MARRIED|          6|  NULL|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14037| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14039| 45|  MALE|    ACCOUNT MANAGER|       MARRIED|          7| 45777|      18452|            4|         GOLD LOAN|  9,87,611 |      7|      39,999|               8|                 1|
|    IB14041| 59|FEMALE|ASSISTANT PROFESSOR|       MARRIED|          4| 50999|      22999|            5|  EDUCATIONAL LOAN|  5,99,934 |      3|       9,000|               9|                 9|
|    IB14042| 25|FEMALE|             DOCTOR|        SINGLE|          4| 60111|      27111|            5|        TRAVELLING| 12,90,929 |      4|      18,000|               1|                 0|
|    IB14045| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|       BOOK STORES|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14049| 49|  MALE|       BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING|     79,999|      4|       6,700|               7|                 3|
|    IB14050| 56|  MALE|     CIVIL ENGINEER|       MARRIED|          4|  NULL|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|               4|                 2|
|    IB14054| 58|FEMALE|             DOCTOR|       MARRIED|          5| 60000|      25000|            5|           HOUSING|  9,00,000 |      5|      21,000|               9|                 0|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

In [ ]:
loans_by_category = (
    df.groupBy("Loan Category").count()

)
print("Loans per category:")
loans_by_category.show(truncate=False)

Loans per category:
+------------------+-----+
|Loan Category     |count|
+------------------+-----+
|HOUSING           |67   |
|TRAVELLING        |53   |
|BOOK STORES       |7    |
|AGRICULTURE       |12   |
|GOLD LOAN         |77   |
|EDUCATIONAL LOAN  |20   |
|AUTOMOBILE        |60   |
|BUSINESS          |24   |
|COMPUTER SOFTWARES|35   |
|DINNING           |14   |
|SHOPPING          |35   |
|RESTAURANTS       |41   |
|ELECTRONICS       |14   |
|BUILDING          |7    |
|RESTAURANT        |20   |
|HOME APPLIANCES   |14   |
+------------------+-----+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,regexp_replace
from pyspark.sql.types import IntegerType
spark = SparkSession.builder.appName("Online-Banking").getOrCreate()
df = spark.read.csv("/loan.csv",header=True, inferSchema=True)
cleaned_df = df.withColumn("cleaned_Loan Amount",regexp_replace(col("Loan Amount"),",","").cast(IntegerType()))
count_loans_over_1_lakh = (
    cleaned_df.filter(col("cleaned_Loan Amount") > 100000).count()
)
print(f"People with loan > ₹100,000: {count_loans_over_1_lakh}")

People with loan > ₹100,000: 450

In [ ]:
count_income_gt_60000 = (
    df.filter(col("Income") > 60000)
      .count()
)
print(f"Income > ₹60,000: {count_income_gt_60000}")

Income > ₹60,000: 198

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,regexp_replace
spark = SparkSession.builder.appName("Online-Banking").getOrCreate()
df = spark.read.csv("/loan.csv",header=True, inferSchema=True)
count_rc_ge2_income_lt_50k = (
    df.filter((col(" Returned Cheque") > 2) & (col("Income") < 50000))
      .count()
)
print(f"Returned cheques ≥2 & Income < ₹50k: {count_rc_ge2_income_lt_50k}")

Returned cheques ≥2 & Income < ₹50k: 117

In [11]:
count_rc_ge2_single = (
    df.filter((col(" Returned Cheque") >= 2) & (col("Marital Status") == "SINGLE"))
      .count()
)
print(f"Returned cheques ≥2 & Single: {count_rc_ge2_single}")

Returned cheques ≥2 & Single: 111

In [12]:
count_expense_over_50k = (
    df.filter(col("Expenditure") > 50000)
      .count()
)
print(f"Expenditure > ₹50,000: {count_expense_over_50k}")

Expenditure > ₹50,000: 6

In [15]:
credit_card_eligible_df = df.filter(
    (col("Income") >= 25000) &
    (col("Overdue") <= 1) &
    (col(" Returned Cheque") <= 1) &
    (col(" Dishonour of Bill") <= 1)
)

count_credit_card_eligible = credit_card_eligible_df.count()
print(f"Eligible for credit cards by policy (example criteria): {count_credit_card_eligible}")

Eligible for credit cards by policy (example criteria): 5

In [16]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,regexp_replace
spark = SparkSession.builder.appName("Online-Banking").getOrCreate()
df = spark.read.csv("/credit card.csv",header=True, inferSchema=True)
df.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [18]:
credit_card_in_spain = (
    df.filter(
        (col("Geography") == "Spain") &
        (col("NumOfProducts") > 1)
    )
    .count()
)


eligible_and_active = (
    df.filter(
        (col("NumOfProducts") > 1) &
        (col("IsActiveMember") == 1)
    )
    .count()
)

print(f"Proxy — Credit‑card users in Spain: {credit_card_in_spain}")
print(f"Proxy — Eligible & active: {eligible_and_active}")

Proxy — Credit‑card users in Spain: 1256
Proxy — Eligible & active: 2588

In [34]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,to_date,sum
spark = SparkSession.builder.appName("Online-Banking").getOrCreate()
df = spark.read.csv("/txn.csv",header=True, inferSchema=True)
df.show()

+-------------+--------------------+----------+----------------+-------------+-----------+
|   Account No| TRANSACTION DETAILS|VALUE DATE| WITHDRAWAL AMT | DEPOSIT AMT |BALANCE AMT|
+-------------+--------------------+----------+----------------+-------------+-----------+
|409000611074'|TRF FROM  Indiafo...| 29-Jun-17|            NULL|    1000000.0|  1000000.0|
|409000611074'|TRF FROM  Indiafo...|  5-Jul-17|            NULL|    1000000.0|  2000000.0|
|409000611074'|FDRL/INTERNAL FUN...| 18-Jul-17|            NULL|     500000.0|  2500000.0|
|409000611074'|TRF FRM  Indiafor...|  1-Aug-17|            NULL|    3000000.0|  5500000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            NULL|     500000.0|  6000000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            NULL|     500000.0|  6500000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            NULL|     500000.0|  7000000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            NULL|     500000.0|  7500000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            NULL|     500000.0|  8000000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            NULL|     500000.0|  8500000.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        133900.0|         NULL|  8366100.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|         18000.0|         NULL|  8348100.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|          5000.0|         NULL|  8343100.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        195800.0|         NULL|  8147300.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|         81600.0|         NULL|  8065700.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|         41800.0|         NULL|  8023900.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|         98500.0|         NULL|  7925400.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        143800.0|         NULL|  7781600.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        331650.0|         NULL|  7449950.0|
|409000611074'|INDO GIBL Indiafo...| 16-Aug-17|        129000.0|         NULL|  7320950.0|
+-------------+--------------------+----------+----------------+-------------+-----------+
only showing top 20 rows

In [36]:



txn = df.withColumn("VALUE DATE", to_date(col("VALUE DATE"), "dd-MMM-yy"))


from pyspark.sql.functions import max as spark_max, min as spark_min
withdrawal_stats =df.agg(
    spark_max(" WITHDRAWAL AMT ").alias("MaxWithdrawal"),
    spark_min(" WITHDRAWAL AMT ").alias("MinWithdrawal")
)
deposit_stats = txn.agg(
    spark_max(" DEPOSIT AMT ").alias("MaxDeposit"),
    spark_min(" DEPOSIT AMT ").alias("MinDeposit")
)


balance_per_account = df.groupBy("Account No").agg(
    sum("BALANCE AMT").alias("TotalBalance")
)


txn_per_date = df.groupBy("VALUE DATE").count().orderBy("VALUE DATE")


accounts_high_withdraw = df.filter(
    col(" WITHDRAWAL AMT ") > 100000
).select("Account No").distinct()

withdrawal_stats.show()
deposit_stats.show()
balance_per_account.show(truncate=False)
txn_per_date.show(truncate=False)
accounts_high_withdraw.show(truncate=False)

+-------------+-------------+
|MaxWithdrawal|MinWithdrawal|
+-------------+-------------+
|4.594475464E8|         0.01|
+-------------+-------------+

+----------+----------+
|MaxDeposit|MinDeposit|
+----------+----------+
|   5.448E8|      0.01|
+----------+----------+

+-------------+----------------------+
|Account No   |TotalBalance          |
+-------------+----------------------+
|409000438611'|-2.4948657706833955E12|
|1196711'     |-1.60476498101275E13  |
|1196428'     |-8.1418498130721E13   |
|409000493210'|-3.2758495213209575E12|
|409000611074'|1.615533622E9         |
|409000425051'|-3.7721184116499877E9 |
|409000405747'|-2.4310804706700016E10|
|409000362497'|-5.2860004792808E13   |
|409000493201'|1.0420831829499985E9  |
|409000438620'|-7.122918679513586E12 |
+-------------+----------------------+

+----------+-----+
|VALUE DATE|count|
+----------+-----+
|1-Apr-17  |1    |
|1-Aug-15  |75   |
|1-Aug-16  |85   |
|1-Aug-17  |65   |
|1-Aug-18  |144  |
|1-Dec-15  |96   |
|1-Dec-16  |106  |
|1-Dec-17  |45   |
|1-Dec-18  |97   |
|1-Feb-16  |97   |
|1-Feb-17  |81   |
|1-Feb-18  |87   |
|1-Feb-19  |79   |
|1-Jan-15  |3    |
|1-Jan-16  |59   |
|1-Jan-18  |53   |
|1-Jan-19  |57   |
|1-Jul-15  |25   |
|1-Jul-16  |111  |
|1-Jul-17  |243  |
+----------+-----+
only showing top 20 rows

+-------------+
|Account No   |
+-------------+
|409000438611'|
|1196711'     |
|1196428'     |
|409000493210'|
|409000611074'|
|409000425051'|
|409000405747'|
|409000362497'|
|409000493201'|
|409000438620'|
+-------------+